werkzeug==2.2.3
Quart==0.18.4
azure-eventgrid
azure-communication-callautomation==1.4.0b1
semantic-kernel[realtime]
hypercorn
python-dotenv
azure-identity
azure-keyvault-secrets
azure-search-documents
opencensus-ext-azure
opencensus-ext-flask